*{margin: 0; padding: 0;}

.tt_chi_tiet{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text_ct h2{
    color: rgb(255, 255, 255);
    font-family: Tahoma;
}
.img_ct img{
    margin: 0 40px 0;
    border-radius: 30px;
    box-shadow: 15px 5px 15px 5px  #0303034b;

}
.dl_horizontal{
    color: rgb(255, 255, 255);
    font-family: Tahoma;
    font-size: 14px;
    margin-top: 10px;
}
.dl_horizontal dt{
    font-size: 18px;
    color: rgb(248, 0, 0);
    margin-top: 10px;

}
.cam_ket{
    line-height: 20px;
}
.cam_ket p{
    font-family: Tahoma;
    color: rgb(255, 255, 255);
    font-size: 11px;
}
ion-icon{
    color: #7ac142;
}
.chon_mau{
    margin: 5px 5px 0;
}
.chon_mau p{
    font-size: 14px;
}
.chon_mau input{
    margin-top: 5px;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #ffff;
}

#mua_ngay{
    width: 254px;
    height: 50px;
    margin-top: 30px;
    background: #2b5363;
    border: 1px solid #2b5363;
    border-radius: 10px;
    box-shadow: 15px 5px 15px 5px  #0303034b;
}
#mua_ngay a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
#mua_ngay:hover{
    border: 1px solid #ffffff;
}
#bt_con1, #bt_con2{
    width: 125px;
    height: 50px;
    margin-top: 10px;
    background: #1d1f2f;
    border: 1px solid #1d1f2f;
    border-radius: 10px;
    box-shadow: 15px 5px 15px 5px  #0303034b;
}
#bt_con1:hover, #bt_con2:hover{
    border: 1px solid #ffffff;
}
#bt_con1 a, #bt_con2 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.mo_ta{
    width: 735px;
    margin: 0 auto;
}
.mo_ta h3{
    margin: 55px 0 0;
    font-size: 20px;
    font-family: Tahoma;
    color: #7ac142;
}
.content_mo_ta{
    margin-top: 20px;

}
.content_mo_ta h2{
    text-align: center;
    font-size: 25px;
    font-family: Tahoma;
    color: #ffffff;
}
.text_mota1, .text_mota2{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    font-family: Tahoma;
}
.anh_mota{
    margin-top: 10px;
}

