*{margin: 0; padding: 0;}




body{
    background-image: linear-gradient(to bottom right, #2b5363,#1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f);
    width: 100%;


}
.container{
    width: auto;
    margin: auto 0;
    
}
main{
    margin-top: 30px;


    

}

/*--------------------*/
.main_content{
    margin: 0 auto;
    /* text-align: center; */
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 300px;
}
.content{
    width: 830px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 15px 5px 15px 5px  #0303034b;
    background: #ffffff1a;
    border-radius: 30px;

    
}
.sp{
    
    margin-top: 20px;
}

.tieude_sp{

    font-family: Tahoma;
    font-size: 20px;
}
.tieude_sp h2{
    margin: 0 50px 0;
    font-size: 15px;
    color: #7ac142;
}













/*--------------------*/

.tieude_dm{
    margin: 10px 15px 0;
    font-family: Tahoma;
    font-size: 14px;
}
.tieude_dm h2{
    padding: 20px 0;
    text-align: center;
    color: #7ac142;
}

.box_dm{
    
    width: 100%;
    margin-top: -20px;
    
}
#name_dm{
    text-decoration: none;
    width: 10px;
    color: #000;
    text-align: center;
    margin: 0 auto;
    
}

.content_box_dm{
    
    width: 220px;
    height: 20px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 25px;

}
.text_dm{
    margin: 0 auto;
    text-align: center;
}
.text_dm h3 a{
    text-decoration: none;
    font-family: Tahoma;
    font-size: 16px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
}
.text_dm h3 a:hover{
    color: #79c142;
}

/*--------------------*/

.top_sp{
    background: #ffffff1a;
    width: 260px;
    /* margin: 20px 20px 0; */
    margin: 0 auto;

    border-radius: 30px;
    box-shadow: 15px 5px 15px 5px  #0303034b;
    
}
.tieude_top{
    margin: 10px 15px 0;
    font-family: Tahoma;
    font-size: 14px;
}
.tieude_top h2{
    padding: 20px 0;
    text-align: center;
    color: #7ac142;
}

.box_top{
    
    width: 100%;
    margin: -20px 20px 0;
    
}
#sp_top{
    text-decoration: none;
    color: #000;
    
}

.content_box_top{
    background: rgb(255, 255, 255);
    width: 220px;
    height: 50px;
    /* text-align: center; */
    border: 1px solid #535353;
    border-radius: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 170px;
}
.content_box_top:hover{
    /* border-radius: 30px; */
    border: 3px solid #7ac142;
}

.text_top{
    font-family: Tahoma;
    /* line-height: 40px; */
}

.text_top h3{
    font-size: 12px;
}
/*--------------------*/
.tin_tuc{
    width: 1120px;
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tin{
    width: 350px;
    /* height: 350px; */
    background: #ffffff1a;
    box-shadow: 15px 5px 15px 5px  #0303034b;
    border-radius: 50px;
    margin: 0 auto;
}
.tin img{
    border-radius: 50px 50px 0 0;

}
.content_tin{
    width: 300px;
    margin: auto;
}
.content_tin p{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: Tahoma;
    margin-top: 5px;
}
.content_tin h3{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Tahoma;
    margin-top: 10px;

}
.xem_tin{
    width: 120px;
    height: 40px;
    background: #ffffff1a;
    color: rgb(255, 255, 255);
    border: 1px solid  #ffffff;
    margin: 20px 90px 0;
    border-radius: 10px;
}
.xem_tin a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Tahoma;
}
.xem_tin:hover{
    background: #2b5363;
    border: 1px solid  #ffffff;
}


/*--------------------*/

footer{
    margin-top: 70px;
}
