*{margin: 0; padding: 0;}




body{
    background-image: linear-gradient(to bottom right, #2b5363,#1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f, #1d1f2f);
    width: 100%;


}
.container_main_tin{
    width: 730px;
    margin: 20px 50px 0;
}
.container_main_tin h2{
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.time {
    width: 83px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.time ion-icon{
    color: rgb(255, 255, 255);
    margin-top: 5px;
    font-size: 15px;
}
.time p{
    color: rgb(255, 255, 255);
    font-family: Tahoma;
    margin-top: 5px;
    font-size: 12px;
}
.text1{
    color: rgb(255, 255, 255);
    font-family: Tahoma;
    margin-top: 20px;
}
.content_mainTin{
    width: 730px;

}





